.highlights-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.p1{
    padding: 5px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .p1-texts {
    width: 65%;
  }
  
  .p1-title {
    font-size: 50px;
    font-weight: 600;
  }
  
  .p1-desc {
    margin: 20px 0px;
  }
  .web-app-button {
    height: 50px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, border 0.3s ease-in-out !important;
    margin-bottom: 60px !important;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
  
  .web-app-button:hover {
    background-color: #ffffff;
    transform: scale(1.1);
    border: 2px solid #000000;
  }
  
  .p1-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center}
  
  @media screen and (max-width: 821px) {
    .p1 {
      padding: 10px;
    }
  
    .p1-texts {
      width: 100%;
    }
  
    .p1-desc {
      display: none;
    }
  }
