.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0.9;
    height: 100%;
    
    margin-top: -7rem;
    
  }
  .f-content {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 4rem;
    gap: 1rem;
    color: white;
   
  }
  .f-icons {
    display: flex;
    gap: 2rem;
    margin-bottom: 30px;
    
  }
  .linkfooter{
    text-decoration: none;
   
  }
.f-img-wrapper{

  width: 100%;
  justify-content:right;
  height: 10vh;
  object-fit: cover;
  background-image: url('../../assets/background.jpg');
  background-size: cover;
  z-index: 100;
  }
  
 .f-linkimg{
  text-decoration: none;
 }
  .medium-icon{
    align-items: flex-end;
    justify-content: right;
    font-size: 50;
    bottom:15px;
    right: 15px;
    font-weight: 500;
  
  }

  @media screen and (max-width: 480px){
    .f-content{
      transform: scale(.5);
    }
  }