.a {
   
    display: flex;
    flex-direction: column;
    
 
   
}

 
.head-title {
   
    padding: 15px 20px 20px 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
}

.a-sub{
    padding: 25px;
    height:3px;
    align-items: center;
    justify-content: center;
}

.main-image-wrapper{
   
    display: flex;
    width: 90%;
  
    flex-wrap: wrap;
    justify-content: center;
  
}
    .image-wrapper {
        display: flex;
        flex-direction: column;
        margin: 5px;
        max-width: 400px;
        border-radius: 15px 0px 15px 1px;
        align-items: center;
        position: relative; /* Added position relative */
      }
      
      .image-main {
        margin: 15px 5px 15px 5px;
        align-items: center;
        justify-content: center;
        width: 93%;
      }
      
      .img-item {
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 15px 0px 15px 3px;
        border-width: 1px;
        border-style: solid;
        transition: transform 0.2s ease-in-out;
      }
      
      .image-main:hover .img-item {
        border-color: #000000;
        transform: scale(1.05);
      }
      
      .project-textline {
        margin-top: 5px;
        font-weight: 700;
        text-align: center;
        width: 75%;
      }
     
      .intro-box {
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        border-radius: 15px 0px 15px 0px;
        max-height: 0;
        overflow: hidden;
        width: 100%;
        padding: 5px 15px 5px 15px;
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Added opacity transition */
        border-width: 1px;
        border-style: solid;
        position: absolute; /* Added absolute positioning */
         top: 0; /* Position it at the bottom of the .image-wrapper */
        left: 0; /* Align it to the left */
        right: 0; /* Align it to the right */
         /* Set background color to match your background */
      }
      
      .image-wrapper:hover .intro-box {
        max-height: 300px;
        opacity: 1; /* Show the intro-box */
      }
      

@media screen and (max-width: 900px) {
  .a{ flex-direction: column;}

  .main-img-wrapper{
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
 }
 .a-left{
    display: none;
 }
    
 }


